.header{
    background-color: black;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 26px;
    color: rgba(20,170,10);
}
span{
 margin-left: 40px;   
}
img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
